*.exe
/game
.DS_Store
.vscode
.clangd
.repomixignore
devenv.nix
devenv.yaml
devenv.lock
.cache
.devenv
/.devenv
/.devenv/bash-bash
/.devenv/bootstrap
/.devenv/bootstrap/bootstrapLib.nix
/.devenv/bootstrap/default.nix
/.devenv/bootstrap/resolve-lock.nix
/.devenv/gc
/.devenv/gc/shell
/.devenv/gc/task-config-devenv-config-task-config
/.devenv/gc/test-devenv-config-test
/.devenv/imports.txt
/.devenv/input-paths.txt
/.devenv/load-exports
/.devenv/nix-eval-cache.db
/.devenv/nixpkgs-config-f0bff968555a3434.nix
/.devenv/profile
/.devenv/run
/.devenv/shell-88b1bef468b96165.sh
/.devenv/shell-b4b8253f010ded91.sh
/.devenv/shell-eef40f9dda4aba43.sh
/.devenv/shell-env.sh
/.devenv/shell-f231bc2ed0649a1a.sh
/.devenv/shell-rcfile.sh
/.devenv/state
/.devenv/state/files.json
/.devenv/state/tasks.db
/.devenv/state/tasks.db-shm
/.devenv/state/tasks.db-wal
/.devenv/task-names.txt
/.devenv/test-state
/.devenv/test-state/files.json
/.devenv/zsh
/.devenv/zsh/.zcompdump
/.devenv/zsh/.zshenv
/.devenv/zsh/.zshrc
/devenv.lock
